h1 About...
 
h2.about ... Raging Flame Lab 

p Raging Flame Lab is a Web &amp; Software development laboratory mainly focused on developing Joomla! CMS extensions and web applications. 
  
h2.about ... me 

p My name is  
  a(href='#(@_@)', class='someClass', style='font-weight: bold; text-decoration: underline;', title='Qawelesizwe Mlilo (if you can pronounce that)') Que
  |, I'm a Software / Web developer and I spend most of my time writing Node programs and hacking Joomla! CMS. I am the creator of 
  a(href='http://email2article.com/', target='_blank', style='margin:0px; padding: 0px; font-weight: bold; color: #448800;') email2article
  | , an app that converts emails to Joomla! CMS articles. 
  a(href='/projects', style='margin:0px; padding: 0px; color: #448800;') Check out my other projects.

h2.about ... this website

p
  | This website is running on 
  a(href='http://nodejs.org/', class='first', target='_blank', style='color: #448800; font-weight: bold; margin: 0px') Node.JS
  | , a server-side JavaScript environment, it uses Express to tame the Node API beast and forever for running multiple node servers on the background.