
if(msg === 'Error occured, message not sent.')
  div(class='alert alert-error', style='text-align: center') Error occured, message not sent.
if(msg === 'Message sent! Thank you.')
  div(class='alert alert-success', style='text-align: center') Message sent! Thank you.
  
h1 Contact Me

p

div(class='row-fluid') 

  section(class='span5') 
    div(class='well', style='height: 310px; text-align: center')
      img(src='/images/qawemail.png', class='img', style='width: 300px; margin-top:30px;')
      
      
  section(class='span7')
    form(action='/contact', method='post')
      div.control-group
        label(class='control-label', for='name') 
          i.icon-user    
          |  Name
        div(class='controls controls-row')
          input(class='input-xxlarge', type='text', id='name', name='name', placeholder='Your name')
          
      div.control-group
        label(class='control-label', for='email') 
        i.icon-envelope   
        |  Email
        div.controls
          input(class='input-xxlarge', name='email', type='text', id='email', placeholder='Your email address')
          
      div.control-group
        label(class='control-label', for='message') 
        i.icon-pencil    
        |  Message
        div.controls
          textarea(class='input-xxlarge', rows='3', id='message', name='message', placeholder='Your message...')
          
      div.form-actions
        button(type='submit', class='btn btn-large btn-success') Submit

   