div(class='row-fluid', id='contact')
  h2(class='page-title', id='scroll_up') Contact

  div(class='span4', id='contact-info')
    h3 Contact Us
    p We are available 24/7, please don't hesitate to drop us a line for inquiries or to report bugs.
    p
      strong Support: 
      a(href='mailto:support@ragingflame.co.za') support@ragingflame.co.za
      
    p
      strong General Info:  
      a(href='mailto:info@ragingflame.co.za') info@ragingflame.co.za
    
  div(class='span7', id='contact-form')
    form.form-horizontal
      fieldset
        div.control-group
          label(class='control-label', for='name') Name
          div.controls
            input(class='input-xlarge', type='text', id='name', name='name', placeholder='John Doe')
          
        div.control-group
          label(class='control-label', for='email') Email
          div.controls
            input(class='input-xlarge', name='email', type='text', id='email', placeholder='john@gmail.com')
          
        div.control-group
          label(class='control-label', for='message') Message
          div.controls
            textarea(class='input-xlarge', rows='3', id='message', name='message', placeholder='Your message...')
          
        div.form-actions
          button(type='submit', class='btn btn-primary') SEND

   