h2(class='page-title', id='scroll_up') Contact

div(class='span4', id='contact-info')
  h3 Contact Us
  p FlexApp is free and thus unfortunately we cannot provide basic support for it. We simply don't have the time to answer everyone's questions.
  p However, you may contact us about general business inquiries or to report bugs in the template!
  p
    a(href="mailto:qawemlilo@gmail.com") qawemlilo@gmail.com
    
div(class='span7', id='contact-form')
  form.form-horizontal
    fieldset
      div.control-group
        label(class='control-label', for='name') Name
        div.controls
          input(class='input-xlarge', type='text', id='name', name='name', placeholder='John Doe')
          
      div.control-group
        label(class='control-label', for='email') Email
        div.controls
          input(class='input-xlarge', name='email', type='text', id='email', placeholder='John Doe')
          
      div.control-group
        label(class='control-label', for='message') Message
        div.controls
          textarea(class='input-xlarge', rows='3', id='message', name='message', placeholder='Your message...')
          
      div.form-actions
        button(type='submit', class='btn btn-primary') SEND

   