h2 
  img(src='images/flask.png', align="bottom", style="width:40px; margin-top: -30px")
  |  Experiments


div.row-fluid
  hr 
  ul.thumbnails
    li.span4 
      div.thumbnail
        h3 Email2Article
        p Email2Article is a web app that converts emails to Joomla! CMS articles. Email2Article was built with more than a douzen custom extensions.
      div.caption
        i(class='icon-white icon-eye-open')    
        a(href='http://email2article.com/')    Go To
              
    li.span4 
      div.thumbnail
        h3 A Hacker's Bookmarks
        p A Hacker's Bookmarks is a browser bookmarking app that saves all your bookmarks onto a Google Docs Spreadsheet, 100% client side JavaScript.
      div.caption
        i(class='icon-white icon-eye-open')    
        a(href='http://qawemlilo.github.com/Bookmarks/')    Go To
          
    li.span4 
      div.thumbnail
        h3 A Hacker's Bookmarks
        p A Hacker's Bookmarks is a browser bookmarking app that saves all your bookmarks onto a Google Docs Spreadsheet, 100% client side JavaScript.
      div.caption
        i(class='icon-white icon-eye-open')   
        a(href='http://qawemlilo.github.com/Bookmarks/')    Go To 
        
  hr 
  ul.thumbnails
    li.span4 
      div.thumbnail
        h3 Email2Article
        p Email2Article is a web app that converts emails to Joomla! CMS articles. Email2Article was built with more than a douzen custom extensions.
      div.caption
        i(class='icon-white icon-eye-open')    
        a(href='http://email2article.com/')    Go To
              
    li.span4 
      div.thumbnail
        h3 A Hacker's Bookmarks
        p A Hacker's Bookmarks is a browser bookmarking app that saves all your bookmarks onto a Google Docs Spreadsheet, 100% client side JavaScript.
      div.caption
        i(class='icon-white icon-eye-open')    
        a(href='http://qawemlilo.github.com/Bookmarks/')    Visit Project
          
    li.span4 
      div.thumbnail
        h3 A Hacker's Bookmarks
        p A Hacker's Bookmarks is a browser bookmarking app that saves all your bookmarks onto a Google Docs Spreadsheet, 100% client side JavaScript.
      div.caption
        i(class='icon-white icon-eye-open')   
        a(href='http://qawemlilo.github.com/Bookmarks/')    Visit Project