p
  a(href='/', title='Passionate geeks who love what they do')
    i.icon-fire &nbsp; 
    |  Raging Flame &copy; 2012

script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
script(src='/javascripts/bootstrap.min.js')
script(src='/javascripts/bootstrap-collapse.js')

if(page == 'contact')
  script(src='http://apps.rflab.co.za/javascripts/validate.js');