p
  i.icon-fire
  a(href='/', title='Passionate geeks who love what they do') &copy; Raging Flame

if(page == 'contact')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
  script(src='http://apps.rflab.co.za/javascripts/validate.js');