div(id='copyright')  
  i.icon-fire  
  a(rel='license', href='/')  
    |   Raging Flame 
    &copy;    
    |  2012   

  span(rel='author')  By Qawelesizwe Mlilo    
  
div(id='credits')
  a(href='/contact') Contact     
  a(href='http://qawemlilo.rflab.co.za/', target='_blank') Blog
  a(href='https://plus.google.com/u/0/111595084798587457827?rel=author', target='_blank') Google+
  a(href='http://twitter.com/ragingflameblog') Twitter     
  span Powered by Node.JS

script(src='/javascripts/test.js')

if(page == 'contact')
  script(src='http://apps.rflab.co.za/javascripts/validate.js')

if(page == 'hire')  
  script(type='text/javascript')
    $(function () {
      $('#project').change(function () {
        var val = $(this).val();
        
        if( val !== 'website' && val) { 
          $('.opt-1').slideUp('slow');
        }
        else {
          $('.opt-1').slideDown('slow');
        }
      }); 
      
      $('#cms').change(function () {
        var val = $(this).val();
        
        if(val) { 
          $('.opt-2').slideUp('slow');
        }
        else {
          $('.opt-2').slideDown('slow');
        }
      }); 
    });