div(id='copyright')  
  i.icon-fire  
  a(rel='license', href='/')  
    |   Raging Flame 
    &copy;    
    |  2012      
  
div(id='credits')
  a(href='/contact') Contact     
  a(href='http://qawemlilo.rflab.co.za/', target='_blank') Blog    
  a(href='http://twitter.com/ragingflameblog') Twitter  

script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
script(src='http://apps.rflab.co.za/rflab/javascripts/bootstrap-collapse2.js')

if(page == 'contact')
  script(src='http://apps.rflab.co.za/javascripts/validate.js')

if(page == 'hire')  
  script(type='text/javascript')
    $(function () {
      $('#type').change(function () {
        var val = $(this).val();
        
        if( val !== 'website') { 
          $('.opt-1').slideDown('slow');
        }
        else {
          alert(val);
        }
      });
    });