p
  ul
    li.first: a(href='/', class='first someClass', title='Passionate geeks who love what they do') &copy; Raging Flame
  
    li: a(href='/about', class='someClass', title='Read more about who we are and what we do') About
  
    li: a(href='/projects', class='someClass', title='Some awesome stuff that I have created!') Projects
  
    li: a(href='http://qawemlilo.rflab.co.za/', target='_blank', class='someClass', title='Rants about code and stuff') Blog
  
    li: a(href='/contact', class='someClass', title='Would love to hear from you!') Contact
  
    li.last: | powered by 
      a(href='http://nodejs.org/', class='first', target='_blank', style='color: #448800; font-weight: bold; margin-right: 0px') Node.JS

if(page == 'contact')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
  script(src='http://apps.rflab.co.za/javascripts/validate.js');