div(class='navbar-inner')
  div(class='container header-div')
    a(class='brand pull-left', href='/') 
      | Raging Flame 
      i(class='icon-fire icon-white')   
      |  Lab      
      
    a(class='btn btn-navbar', data-toggle='collapse', data-target='.nav-collapse')
      span(class='icon-bar')
      span(class='icon-bar')
      span(class='icon-bar') 
     
    
    div(class='nav-collapse collapse')
      ul(id='nav-list', class='nav pull-right')
        if (page === 'index')
          li.active
            a(href='/') 
              i(class='icon-home icon-white')     
              |  Home
        else
          li
            a(href='/') 
              i(class='icon-home icon-white')     
              |  Home
          
        if (page === 'hire')
          li.active 
            a(href='/hire') 
              i(class='icon-heart icon-white')         
              |   Hire Me
        else
          li
            a(href='/hireme') 
              i(class='icon-heart icon-white')          
              |   Hire Me
          
        if (page === 'bugs')
          li.active
            a(href='/bugs')
              i(class='icon-bell icon-white')      
              |   Report Bugs 
        else
          li
            a(href='/bugs')
              i(class='icon-bell icon-white')     
              |   Report Bugs
          
        if (page === 'contact')
          li.active
            a(href='/contact')
              i(class='icon-envelope icon-white')        
              |   Contact
        else
          li
            a(href='/contact')
              i(class='icon-envelope icon-white')      
              |   Contact