div(class='navbar-inner')
  div(class='container header-div')
    a(class='brand pull-left', href='/') 
      | Raging Flame Lab 
      i(class='icon-fire icon-white') 
      
    a(class='btn btn-navbar', data-toggle='collapse', data-target='.nav-collapse')
      span(class='icon-bar')
      span(class='icon-bar')
      span(class='icon-bar') 
     
    
    div(class='nav-collapse collapse')
      ul(id='nav-list', class='nav pull-right')
        if (page === 'index')
          li.active: a(href='/') Home
        else
          li: a(href='/') Home
          
        if (page === 'packages')
          li.active: a(href='http://qawemlilo.rflab.co.za/packages', target='_blank') Web Design
        else
          li: a(href='http://qawemlilo.rflab.co.za/packages', target='_blank') Web Design
          
        if (page === 'tweaks')
          li.active: a(href='http://qawemlilo.rflab.co.za/tweaks', target='_blank') Website Tweaks
        else
          li: a(href='http://qawemlilo.rflab.co.za/tweaks', target='_blank') Website Tweaks
          
        if (page === 'contact')
          li.active: a(href='/contact') Contact
        else
          li: a(href='/contact') Contact