div(class='navbar-inner')
  div(class='container header-div')
    a(class='brand pull-left', href='/') 
      | Raging Flame Lab 
      i(class='icon-fire icon-white') 
      
    a(class='btn btn-navbar', data-toggle='collapse', data-target='.nav-collapse')
      span(class='icon-bar')
      span(class='icon-bar')
      span(class='icon-bar') 
     
    
    div(class='nav-collapse collapse')
      ul(id='nav-list', class='nav pull-right')
        if (page === 'index')
          li.active: a(href='/') Home
        else
          li: a(href='/') Home
          
        if (page === 'hire')
          li.active: a(href='/hire') Hire Me
        else
          li: a(href='/hireme') Hire Me
          
        if (page === 'packages')
          li.active: a(href='/packages') Packages
        else
          li: a(href='/packages') Packages
          
        if (page === 'tweaks')
          li.active: a(href='/tweaks') Bug Report
        else
          li: a(href='/tweaks') Bug Report
          
        if (page === 'contact')
          li.active: a(href='/contact') Contact
        else
          li: a(href='/contact') Contact