div(class='row-fluid', id='contact')

  div(class='alert alert-info span7') Please fill in the form below and tell me about your project.
  
  div(class='span7', style='padding-left: 0px; margin-left: 0px')
    form(action='/tweaks', method='post', class='form-horizontal well', style='background-color: transparent; border-color: rgba(0, 0, 0, 0.25);')
      fieldset
        legend(style='margin-bottom: 0px; border-bottom-color: #DDD') Hire Me
 
        div.control-group
          label(class='control-label', for='type') Type of work
          div.controls
            select(id='project', name='project')
              option(value='') Select
              option(value='website') A new website
              option(value='changes') Changes on your website
              option(value='j-extension') Joomla! extension
              option(value='w-plugin') WordPress plugin
              option(value='other') Other
            
        div(class='control-group opt-1')
          label(class='control-label', for='size') Size of website
          div.controls
            select(id='size', name='size')
              option(value='') Select
              option(value='1') Up to 6 pages
              option(value='2') Up to 10 pages
              option(value='3') Up to 20 pages
              option(value='4') More than 20 pages
            
            
        div(class='control-group opt-1')
          label(class='control-label', for='cms') Preferred CMS
          div.controls
            select(id='cms', name='cms')
              option(value='') Select
              option(value='joomla') Joomla!
              option(value='wp') WordPress
              option(value='') No CMS
            
        div(class='control-group opt-1 opt-2')
          label(class='control-label', for='language') Type of website
          div.controls
            select(id='language', name='language')
              option(value='') Select
              option(value='website') Static Pages (html)
              option(value='changes') Dynamic Pages (php)

        div(class='control-group opt-1')
          label(class='control-label', for='animation') Animations
          div.controls
            label(class='checkbox')
              input(type='checkbox', value='animation', id='animation', name='animation') 
              | My website requires animations
            
        div(class='control-group opt-1')
          label(class='control-label', for='dropdowns') Dropdown Menus
          div.controls
            label(class='checkbox')
              input(type='checkbox', value='dropdowns', id='dropdowns', name='dropdowns') 
              | My website requires dropdown menus
            
        div(class='control-group opt-1')
          label(class='control-label', for='slider') Sliding Display
          div.controls
            label(class='checkbox')
              input(type='checkbox', value='slider', id='slider', name='slider') 
              | My website requires a sliding display
          
        div.control-group
          label(class='control-label', for='message') Describe your project
          div.controls
            textarea(class='input-xlarge', rows='10', id='message', name='message', placeholder='A detailed description of your project')
            
        div.control-group
          label(class='control-label', for='size') Projected Time
          div.controls
            select(id='size', name='size')
              option(value='') Select
              option(value='1') 1 Month or less
              option(value='2') 2 Months
              option(value='3') 3 Months
              option(value='4') 4 Months or more
          
        div.control-group
          label(class='control-label', for='name') Website Address
          div.controls
            input(class='input-xlarge', type='text', id='name', name='name', placeholder='http://')
          
        div.control-group
          label(class='control-label', for='email') Your email address
          div.controls
            input(class='input-xlarge', type='text', id='email', name='email', placeholder='')
          
        div(class='form-actions', style='background-color: transparent; border-top: 0px; border-style: none;')
          button(type='submit', class='btn btn-large btn-block btn-success') Submit


   