
if(msg && msg === 'failed')
  div(class='alert alert-error', style='text-align: center') Error occured, form not submitted.
if(msg && msg === 'sent')
  div(class='alert alert-success', style='text-align: center') Form submitted successfully. I will respond in less than 24 hours, thank you!!.
  
h1 Hire Me 

hr

div(class='row-fluid', id='contact')
  
  div(class='span7')
    form(action='/hireme', method='post', class='form-horizontal well', style='background-color: transparent; border-color: rgba(0, 0, 0, 0.25);')
      fieldset
        legend(style='margin-bottom: 0px; border-bottom-color: #DDD') Project Description

        div.control-group
          label(class='control-label', for='name') Your name
          div.controls
            input(class='input-xlarge', type='text', id='name', name='name', placeholder='Your name here...') 

        div.control-group
          label(class='control-label', for='email') Your email address
          div.controls
            input(class='input-xlarge', type='text', id='email', name='email', placeholder='Email address here...')   
            
            
        div.control-group
          label(class='control-label', for='type') Type of work
          div.controls
            select(id='project', name='project')
              option(value='') Select
              option(value='website') A basic website
              option(value='Joomla website') Joomla! website
              option(value='WordPress plugin') WordPress website
              option(value='Joomla extension') Joomla! extension
              option(value='changes') Changes on your website
              option(value='other') Other
              
              
        div.control-group
          label(class='control-label', for='website') Website Address
          div.controls
            input(class='input-xlarge', type='text', id='website', name='website', placeholder='http://')
          
        div.control-group
          label(class='control-label', for='message') Describe your project
          div.controls
            textarea(class='input-xlarge', rows='10', id='message', name='message', placeholder='A detailed description of your project')
          
        div(class='form-actions', style='background-color: transparent; border-top: 0px; border-style: none;')
          button(type='submit', class='btn btn-large btn-block btn-success') Submit
          
  div(id='updates', class='span5')
    h3 Testimonials
   
    div(style='margin-bottom: 20px; margin-top: 10px;')
      blockquote.testimonial
        p Que is an outstanding developer and produces all work on time. His work is of high quality and he never disappoints me or my clients. Que does most of my Joomla! development at affordable rates, I would recommend him to anyone looking for a developer.
      
      div.arrow-down
    
      p.testimonial-quote Scott Wentworth | 
        span 
          a(href='http://www.scottwebdesigns.co.za', target='_blank') Scott Web Designs

hr


   