div(class='row-fluid home-first-row')
  div(class='span6 visible-desktop')
    img(src='http://apps.rflab.co.za/rflab/images/responsive-web-design.png', alt='Responsive Web Design', title='Responsive Web Design')
    
  div.span6
    div(id='app-name')
      h1.visible-desktop Web Design
      h2.hidden-desktop Web Design
      
    div#tagline Responsive, multi-device and future-proof websites 
    
    div(class='hidden-desktop', id='phones')
      img(src='http://apps.rflab.co.za/rflab/images/responsive-web-design-mobile.png', alt='Responsive Web Design', title='Responsive Web Design')
      
    div#description 
      | Hi, welcome to my Lab - I'm a professional web developer, hacker, and web craftsman. 
      br
      | At Raging Flame Lab we are mainly focused on Responsive Web Design, we create websites that are compatible with desktops, smart phones, and tablets.
    
    div.download-box
      a(class='btn btn-success btn-large', href='/hire', style='margin-bottom: 10px;') Hire Me   
      &nbsp;    
      &nbsp;   
      a(class='btn btn-danger btn-large', href='/tweaks', style='margin-bottom: 10px;') Report Bugs
      
div.row-fluid
  div.span6
    h3(class='page-title', id='scroll_up') What is a Responsive Website?
      
    p At its simplest, a responsive website adapts to the screen size of the visitor. It doesn't matter if the site visitor is using a Mac, a PC, a tiny mobile device, or a massive wide-screen; Windows, OSX, or Linux - responsive websites are device agnostic.
    
    h3(class='page-title', id='scroll_up') Why choose Responsive Web Design?
    
    p More and more people these days are turning to their mobile devices to search for business and product information, so your old site may not be working for you as well as it could.

    p Responsive design allows your site to work across a range of devices, from small to large without losing any of it's visual appeal or organizational integrity. Not only is this important for branding purposes, but it also ensures that your customers get the information they are looking for efficiently.
    
    
  div(class='span6 updates', id='updates')
    div(style='margin-bottom: 20px;')
      blockquote.testimonial
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus viverra malesuada mi, sit amet imperdiet erat facilisis id. Nulla non lorem in neque fermentum volutpat non pulvinar nunc. Phasellus urna velit, auctor quis convallis vitae, venenatis in dui.
      
      div.arrow-down
    
      p.testimonial-author Scott Wentworth | 
        span 
          a(href='http://www.scottwebdesigns.co.za', target='_blank') Scott Web Designs
        
    div
      blockquote.testimonial
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus viverra malesuada mi, sit amet imperdiet erat facilisis id. Nulla non lorem in neque fermentum volutpat non pulvinar nunc. 
      
      div.arrow-down
    
      p.testimonial-author Clonard | 
        span 
          a(href='http://www.clonard.co.za/', target='_blank') Clonard Learning