div.row-fluid
  div(class='span5 visible-desktop')
    img(src='/images/phones.png')
    
  div.span7
    div#app-name
      h1 RF Lab
      
    div#tagline We build responsive websites for Joomla! CMS and WordPress CMS
    
    div(class='hidden-desktop', id='phones')
      img(src='/images/phones.png')
      
    div#description Raging Flame Lab is a Web design and development studio mainly focused on developing responsive Joomla! CMS and WordPress websites.
    
    ul#features
      li Compatible with desktops, smart phones and tablets
      li Comes with a Content Management System 
      li Clean and profession design
      li 1 month free support
      
    div.download-box
      a(href='#')
        img(src='/images/available-on-the-app-store.png')
        
    div.download-box
      a(href='#')
        img(src='/images/android_app_on_play_logo_large.png')
        
    div.download-box
      strong Compatibility
      br
      | Mobile phones, tablets, and desktops.
    
    div.download-box
      strong Requirements
      br
      | Requires Android 2.3 and higher. WiFi, Edge, or 3G network connection sometimes required.