div.hero-unit
  H1 Raging Flame Laboratory

  p Raging Flame Lab is a Web &amp; Software development laboratory mainly focused on developing Joomla! CMS extensions and web applications

  p 
    a(class='btn btn-primary btn-large', href='/about') Read more &raquo;