div.row-fluid
  div(class='span5 visible-desktop')
    img(src='http://apps.rflab.co.za/rflab/images/phones.png')
    
  div.span7
    div#app-name
      h1 Raging Flame
      
    div#tagline We design responsive websites for Joomla! and WordPress
    
    div(class='hidden-desktop', id='phones')
      img(src='http://apps.rflab.co.za/rflab/images/phones.png')
      
    div#description Raging Flame Lab is a Web design and development studio mainly focused on designing and developing responsive Joomla! CMS and WordPress websites.
    
    ul#features
      li Compatible with desktops, smart phones and tablets
      li Content Management System 
      li Clean and profession design
      li 1 month free support
      
    div.download-box
      a(class='btn btn-primary btn-large', href='/contact') Get in touch