div.row-fluid
  div(class='span5 visible-desktop')
    img(src='/images/phones.png')
    
  div.span7
    div#app-name
      h1 Raging Flame Lab
      
    div#tagline We build responsive websites for Joomla! and WordPress
    
    div(class='hidden-desktop', id='phones')
      img(src='/images/phones.png')
      
    div#description FlexApp is a free, fully responsive website template for marketing your mobile application. The design uses CSS3 to scale the content proportionally to whatever device is being used. Give it a try by resizing your browser!
    
    ul#features
      li Fully Responsive HTML/CSS3 Template
      li Built on Bootstrap by Twitter
      li Images and Photoshop Files Included
      li Completely Free!
      
    div.download-box
      a(href='#')
        img(src='/images/available-on-the-app-store.png')
        
    div.download-box
      a(href='#')
        img(src='/images/android_app_on_play_logo_large.png')
        
    div.download-box
      strong Requirements
      br
      | Compatible with iPhone and iPod touch. Requires iPhone OS 2.2 or later. WiFi, Edge, or 3G network connection sometimes required.
    
    div.download-box
      strong Requirements
      br
      | Requires Android 2.3 and higher. WiFi, Edge, or 3G network connection sometimes required.