div(class='row-fluid home-first-row')
  div(class='span6 visible-desktop')
    img(src='http://apps.rflab.co.za/rflab/images/responsive-web-design.png', alt='Responsive Web Design', title='Responsive Web Design')
    
  div.span6
    div(id='app-name')
      h1.visible-desktop Web Apps
      h2.hidden-desktop Web Apps
      
    div#tagline Creating web based software 
    
    div(class='hidden-desktop', id='phones')
      img(src='http://apps.rflab.co.za/rflab/images/responsive-web-design-mobile.png', alt='Responsive Web Design', title='Responsive Web Design')
      
    div#description 
      | Welcome to my Lab, my name is Qawelesizwe Mlilo but you can call me Que. I build websites and web applications for businesses and for fun.      
      br
      | I mainly focus on Joomla! extension development and Responsive Web Design.
    
    div.download-box
      a(class='btn btn-success btn-large', href='/hireme', style='margin-bottom: 10px; width: 140px;') Hire Me   
      &nbsp;    
      &nbsp;   
      a(class='btn btn-danger btn-large', href='/bugs', style='margin-bottom: 10px; width: 140px;') Report Bugs
      
div.row-fluid
  div.span6
    h3(class='page-title', id='scroll_up') Why choose my services?
      
    p 1) I build robust Web Apps and websites at affordable prices.

    p 2) I use a technic called Responsive Web Design - at its simplest, a responsive website adapts to the screen size of the visitor. It doesn't matter if the site visitor is using a Mac, a PC, a tiny mobile device, or a massive wide-screen; Windows, OSX, or Linux - responsive websites are device agnostic.    
    
    p 3) I have built a social network for a church, an online registration and ordering system for a school, and a file management system for a financial services company. These actively used applications which I still maintain and upgrade from time to time. 
    
    p 4) I'm a geek and love what I do - your project will be good hands,   
      a(href='/hireme') contact me today.
    
    h3(class='page-title', id='scroll_up') Why choose Responsive Web Design?
    
    p More and more people these days are turning to their mobile devices to search for business and product information, so your old site may not be working for you as well as it could.

    p Responsive design allows your site to work across a range of devices, from small to large without losing any of it's visual appeal or organizational integrity. Not only is this important for branding purposes, but it also ensures that your customers get the information they are looking for efficiently.
    
    
  div(class='span6 updates', id='updates')

    h3(class='page-title')  Services
    
    ul#features
      li WordPress and Joomla! Websites
      li Mobile websites
      li Responsive Web Design
      li Website maintanance and optimisation
      li Joomla! Extension development
      li JavaScript Single Page Applications
      li Node.JS development
      li PHP development
      li Search Engine Optimisation  
    
    h3(class='page-title') Testimonials
    
    div(style='margin-bottom: 30px;')
      blockquote.testimonial
        p Que is an outstanding developer and produces all work on time. His work is of high quality and he never disappoints me or my clients. Que does most of my Joomla! development at affordable rates, I would recommend him to anyone looking for a developer.
      
      div.arrow-down
    
      p.testimonial-quote Scott Wentworth | 
        span 
          a(href='http://www.scottwebdesigns.co.za', target='_blank') Scott Web Designs
          