div.row-fluid
  div(class='span5 visible-desktop')
    img(src='/images/phones.png')
    
  div.span7
    div#app-name
      h1 Raging Flame
      
    div#tagline We build responsive websites for Joomla! and WordPress
    
    div(class='hidden-desktop', id='phones')
      img(src='/images/phones.png')
      
    div#description Raging Flame Lab is a Web &amp; Software development laboratory mainly focused on developing responsive Joomla! CMS and WordPress websites
    
    ul#features
      li Website can be viewed on desktops and mobile devices
      li We built on CMSs 
      li 1 month free support
      li Clean an profession design
      
    div.download-box
      a(href='#')
        img(src='/images/available-on-the-app-store.png')
        
    div.download-box
      a(href='#')
        img(src='/images/android_app_on_play_logo_large.png')
        
    div.download-box
      strong Compatibility
      br
      | Mobile phones, tablets, and desktops.
    
    div.download-box
      strong Requirements
      br
      | Requires Android 2.3 and higher. WiFi, Edge, or 3G network connection sometimes required.