div(class='row-fluid home-first-row')
  div(class='span6 visible-desktop')
    img(src='http://apps.rflab.co.za/rflab/images/responsive-web-design.png', alt='Responsive Web Design', title='Responsive Web Design')
    
  div.span6
    div(id='app-name')
      h1.visible-desktop Go Mobile!
      h2.hidden-desktop Go Mobile!
      
    div#tagline Responsive, multi-device and future-proof websites 
    
    div(class='hidden-desktop', id='phones')
      img(src='http://apps.rflab.co.za/rflab/images/responsive-web-design-mobile.png', alt='Responsive Web Design', title='Responsive Web Design')
      
    div#description Raging Flame Lab is a web design and development studio, we are mainly focused on Joomla! development and Responsive Web Design, i.e, we build websites that are compatible with desktops, smart phones, and tablets.
    
    div.download-box
      a(class='btn btn-primary btn-large', href='/contact') Get in touch
      
div.row-fluid
  div.span6
    h3(class='page-title', id='scroll_up') What is a Responsive Website?
      
    p At its simplest, a responsive website adapts to the screen size of the visitor. It doesn't matter if the site visitor is using a Mac, a PC, a tiny mobile device, or a massive wide-screen; Windows, OSX, or Linux - responsive websites are device agnostic.
    
    h3(class='page-title', id='scroll_up') Why choose Responsive Web Design?
    
    p More and more people these days are turning to their mobile devices to search for business and product information, so your old site may not be working for you as well as it could.

    p Responsive design allows your site to work across a range of devices, from small to large without losing any of it's visual appeal or organizational integrity. Not only is this important for branding purposes, but it also ensures that your customers get the information they are looking for efficiently.
    
    
  div(class='span6 updates', id='updates')
    h3(class='page-title', id='scroll_up') Our Technologies
      
    p 
      img(src='http://apps.rflab.co.za/rflab/images/joomla-development.png', alt='Joomla! Development', title='Joomla! Development', style='float: left; margin-right: 10px; margin-bottom: 5px;')
      | Joomla! is an opensource Content Management System, we design responsive Joomla! websites and custom extensions tailored to meet your specific needs.  
      
    p 
      img(src='http://apps.rflab.co.za/rflab/images/wordpress-development.png', alt='WordPress Development', title='WordPress Development', style='float: left; margin-right: 10px; margin-bottom: 5px;')
      | WordPress is a very popular opensource Content Management System. Easy to use and highly customizable, this platform has won a lot of hearts.  
      
    p 
      img(src='http://apps.rflab.co.za/rflab/images/twitter-bootstrap.png', alt='Twitter Bootstrap', title='Twitter Bootstrap', style='float: left; margin-right: 10px; margin-bottom: 5px;')
      | Twitter Bootstrap is a powerful front-end framework that we use to create mobile and responsive UIs.  
