div.row-fluid
  div(class='span5 visible-desktop')
    img(src='http://apps.rflab.co.za/rflab/images/phones.png')
    
  div.span7
    div(id='app-name', class='visible-desktop')
      h1 Raging Flame
      
    div#tagline We design responsive websites for Joomla! and WordPress
    
    div(class='hidden-desktop', id='phones')
      img(src='http://apps.rflab.co.za/rflab/images/phones.png')
      
    div#description Raging Flame Lab is a Web design and development studio. We are mainly foced on designing and developing responsive websites that are compatible with desktops, smart phones, and tablets. Some of the services we offer are listed below: 
    
    ul#features
      li Content Management Solutions (Joomla! and WordPress)
      li Responsive websites
      li Web Hosting
      li Node.js Hosting
      li Custom Joomla! extensions
      li Joomla Upgrades
      li Website Redesign
      li Consultation and technical support 
      li Website maintanance and management
      
    div.download-box
      a(class='btn btn-primary btn-large', href='/contact') Get in touch