!!! 5
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8" lang="en">
//if IE 8
  <html class="no-js lt-ie9" lang="en">
//[if gt IE 8]><!
html(class='no-js', lang='en')
  //<![endif]
  head
    meta(charset='utf-8')
    title= title
    meta(name='description', content='Go Mobile - Responsive Web Design and Joomla! development')
    meta(name='keywords', content='Joomla! development, WordPress development, mobile websites, responsive websites, web design, cms, content management')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='http://apps.rflab.co.za/rflab/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='http://apps.rflab.co.za/rflab/stylesheets/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='http://apps.rflab.co.za/rflab/stylesheets/style.css')
    link(rel='stylesheet', href='http://apps.rflab.co.za/rflab/stylesheets/media-queries.css')
  body
    div(class='navbar navbar-fixed-top')!= partial('header')
    
    div(class='container content container-fluid', id='home')!= body
    
    div(class='footer container container-fluid')!= partial('footer')
    
    div
      img(src='http://apps.rflab.co.za/rflab/images/resize.png', id='resize', class='visible-desktop')