!!!
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='author', content='Qawelesizwe Mlio')
    meta(name='description', content='Raging Flame Laboratory - web and software development')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
      
    script(src='http://apps.rflab.co.za/javascripts/libs/modernizr-2.5.3.min.js')
  body
    div(class='navbar navbar-inverse navbar-fixed-top')!= partial('header')
    
    div.container != body
    
    footer!= partial('footer')