div(class='row-fluid', id='packages')
  h1 Web Design Packages
  
  br 
  
  ul.thumbnails
              
    li.span4 
      div.thumbnail
        
      div.caption
        h3 Basic Website
        p An entry level website with basic information about your company / organisation.

        ul#features
          li Responsive
          li 6 Pages
          li 1 month free support
          
        br 
        
        p
          a(class='btn btn-success btn-large', href='#') Choose
          
    li.span4 
      div.thumbnail
        
      div.caption
        h3 CMS Package
        p A dynamic website build on top of a Content Management System.
        
        ul#features
          li Responsive
          li Unlimited Pages
          li 3 months free support
          
        br 
        
        p
          a(class='btn btn-success btn-large', href='#') Choose
          
    li.span4 
      div.thumbnail
        
      div.caption
        h3 Custom Joomla! Extensions
        p Do you have an idea that you would like to implement as web app? This is the solution for you.
        
        ul#features
          li Installable stand alone extension
          li MVC architecture
          li 1 months free support
          
        br 
        
        p
          a(class='btn btn-large btn-success', href='#') Choose

   