div(class='row-fluid', id='packages')
  h1 Web Design Packages
  
  br 
  
  ul.thumbnails
              
    li.span4 
      div.thumbnail
        
      div.caption
        h3 Basic Website
        p An entry level website with basic information about your company / organisation. Home, About Us, Services, contact and any additional 2 pages.

        ul#features
          li Responsive
          li 4 Pages
          li Free Support
          
        br 
        
        p
          a(class='btn btn-success btn-large', href='#') Choose
          
    li.span4 
      div.thumbnail
        
      div.caption
        h3 CMS Package
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus viverra malesuada mi, sit amet imperdiet erat facilisis id. 
        
        ul#features
          li Responsive
          li 4 Pages
          li Free Support
          
        br 
        
        p
          a(class='btn btn-success btn-large', href='#') Choose
          
    li.span4 
      div.thumbnail
        
      div.caption
        h3 Custom Joomla! Extensions
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus viverra malesuada mi, sit amet imperdiet erat facilisis id.
        
        ul#features
          li Responsive
          li 4 Pages
          li Free Support
          
        br 
        
        p
          a(class='btn btn-large btn-success', href='#') Choose

   