div(class='row-fluid', id='packages')
  h1 Web Design Packages
  
  br 
  
  ul.thumbnails
              
    li.span4 
      div.thumbnail
        
      div.caption
        h3 Standard
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus viverra malesuada mi, sit amet imperdiet erat facilisis id.

        ul#features
          li Responsive
          li 4 Pages
          li Free Support
          
        br 
        
        p
          a(class='btn btn-primary', href='#') Choose
          
    li.span4 
      div.thumbnail
        
      div.caption
        h3 Gold
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus viverra malesuada mi, sit amet imperdiet erat facilisis id. 
        
        ul#features
          li Responsive
          li 4 Pages
          li Free Support
          
        br 
        
        p
          a(class='btn btn-primary', href='#') Choose
          
    li.span4 
      div.thumbnail
        
      div.caption
        h3 Platinum
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus viverra malesuada mi, sit amet imperdiet erat facilisis id.
        
        ul#features
          li Responsive
          li 4 Pages
          li Free Support
          
        br 
        
        p
          a(class='btn btn-primary', href='#') Choose

   