div(class='row-fluid', id='packages')
  h1 Web Design
  
  ul.thumbnails
    li.span3 
      div.thumbnail
        img(src='http://apps.rflab.co.za/images/email2article.jpg', alt='')
      div.caption
        h3 Email2Article
        p Email2Article is a web app that converts emails to Joomla! CMS articles. Email2Article was built with more than a douzen custom extensions.
        p
          a(class='btn btn-primary', href='http://email2article.com/') Visit Project
              
    li.span3 
      div.thumbnail
        img(src='http://apps.rflab.co.za/images/bookmarks.jpg', alt='Hacker Bookmarks')
      div.caption
        h3 A Hacker's Bookmarks
        p A Hacker's Bookmarks is a browser bookmarking app that saves all your bookmarks onto a Google Docs Spreadsheet, 100% client side JavaScript.
        p
          a(class='btn btn-primary', href='http://qawemlilo.github.com/Bookmarks/') Visit Project

  ul.thumbnails
    li.span3 
      div.thumbnail
        img(src='http://apps.rflab.co.za/images/slider.jpg', alt='')
      div.caption
        h3 Content Slider
        p Content Slider is a simple and elegant jQuery plugin that displays sliding html content.
        p
          a(class='btn btn-primary', href='http://apps.rflab.co.za/content-slider/') Visit Project
          
    li.span3 
      div.thumbnail
        img(src='http://apps.rflab.co.za/images/greyscale.jpg', alt='')
      div.caption
        h3 RGB to Greyscale
        p RGB to greyscale is a JavaScript / HTML5 application that converts colour images to black and white.
        p
          a(class='btn btn-primary', href='http://apps.rflab.co.za/rgb-to-grayscale/') Visit Project

   