h1 Projects

p
  a(href='/', class='breadcrumbs') Home
  |  :: Projects
  
h2 Recent Client Projects

div.projects
  ul
    li(style='background: url(http://apps.rflab.co.za/images/holiness.jpg) 0px 0px no-repeat;')
      h3
        a(href='http://www.holinesspage.com/', 'target='_blank') Holiness Page
      p.langs [Joomla! CMS, OOP PHP, JavaScript, jQuery UI, Comments System, MySQL, Git] 
      p The Holiness Page required a custom application that enabled users to publish daily devotion, other members could also post comments on devotions and create a thread. 
      p I broke down the poject to three parts: Admin for managing account and creating new devotions, devotions UI, and a comments plug-in. The application was built on top of Joomla! CMS as a component extension. 
      
    li(style='background: url(http://apps.rflab.co.za/images/clonard.jpg) 0px 0px no-repeat;')
      h3 
        a(href='http://www.clonard.co.za/', 'target='_blank') Clonard Distance Education
      p.langs [Joomla! CMS, OOP PHP, JavaScript, MonsterPay, Payment System, MySQL, Git]
      p Clonard Distance Education is one of the leading home education curriculum providers in South Africa. Clonard wanted a very specific ordering system that allowed parents to order curriculum material online. I developed a custom shopping cart for the system and a backend for managing all the orders. 
      
    li(style='background: url(http://apps.rflab.co.za/images/mojo.jpg) 0px 0px no-repeat;')
      h3 
        a(href='http://www.scottwebdesigns.co.za/mojo/', 'target='_blank') Mojo Vids
      p.langs [Joomla! CMS, OOP PHP, JavaScript, SWFUpload, PayPal, Git]
      p Mojo Vids needed a custom ordering system for their video editing business. They required clients to be able to upload a large number of big images and videos for editing.
      
hr(style='height: 1px; background-color: #448800; color: #448800; margin: 25px 0px 0px 0px; width: 100%;')
      
h2 Side Projects

div.projects
  ul
    li(style='background: url(http://apps.rflab.co.za/images/email2article.jpg) 0px 0px no-repeat;')
      h3
        a(href='http://email2article.com/', 'target='_blank') Email2Article
      p.langs [Joomla! CMS, OOP PHP, Linux Admin, JavaScript, HTML5Boilerplate, Email Parsing &amp; Piping, MySQL, Git] 
      p Email2Article is a web app that converts emails to Joomla! CMS articles. Email2Article was built with more than a douzen custom extensions. 
      
    li(style='background: url(http://apps.rflab.co.za/images/bookmarks.jpg) 0px 0px no-repeat;')
      h3 
        a(href='http://qawemlilo.github.com/Bookmarks/', 'target='_blank') A Hacker's Bookmarks
      p.langs [JavaScript, jQuery, CSS, Google Docs, Git]
      p A Hacker's Bookmarks is a browser bookmarking app that saves all your bookmarks onto a Google Docs Spreadsheet, 100% client side JavaScript. 
      
    li(style='background: url(http://apps.rflab.co.za/images/slider.jpg) 0px 0px no-repeat;')
      h3 
        a(href='http://apps.rflab.co.za/content-slider/', 'target='_blank') Content Slider
      p.langs [JavaScript, jQuery, CSS, Git]
      p Content Slider is a simple and elegant jQuery plugin that displays sliding html content.
      
    li(style='background: url(http://apps.rflab.co.za/images/greyscale.jpg) 0px 0px no-repeat;')
      h3 
        a(href='http://apps.rflab.co.za/rgb-to-grayscale/', 'target='_blank') RGB to Greyscale
      p.langs [JavaScript, CSS, HTML5, Git]
      p RGB to greyscale is a JavaScript / HTML5 application that converts colour images to black and white.
      
