
h1 Projects


div.row-fluid
  hr 
  ul.thumbnails
    li.span4 
      div.thumbnail
        h3 
          a(href='http://www.bookmarkmanager.co.za/', target='_blank')  Bookmark Manager
        p Bookmark Manager is a web app that makes it easy to save and manage your browser bookmarks. You can save and retrieve your bookmarks from anywhere.
        
        div
          i(class='icon-tags')   
          span(class='label label-important') Node                    
          span(class='label label-info') MongoDB
          span(class='label') Backbone
          span(class='label label-success') RequireJS 
          
      div.caption
        span.pull-left
          i(class='icon-white icon-globe')        
          a(href='http://www.bookmarkmanager.co.za/', target='_blank')   Go To
          
        span.pull-right
          i(class='icon-white icon-eye-open')        
          a(href='https://github.com/qawemlilo/nodebookmarks', target='_blank')   Github        
              
    li.span4 
      div.thumbnail
        h3 
          a(href='http://gdriv.es/ragingflame/crushit.html', target='_blank')   CrushIt
        p CrushIt is a CLI tool for compiling, concatenating, and minifying scripts from a web page. I wrote CrushIt to make it easy to optimize my code for use in production.
        
        div
          i(class='icon-tags')   
          span(class='label label-important') Node                    
          span(class='label label-info') Request
          span(class='label') UglifyJS
          span(class='label label-success') Cheerio         
        
      div.caption
        span.pull-left
          i(class='icon-white icon-globe')       
          a(href='http://gdriv.es/ragingflame/crushit.html', target='_blank')   Go To
          
        span.pull-right
          i(class='icon-white icon-eye-open')        
          a(href='https://github.com/qawemlilo/crushit', target='_blank')   Github    
          
    li.span4 
      div.thumbnail
        h3 
          a(href='http://crushit-compiler.herokuapp.com/', target='_blank')   CrushIt Compiler
        p CrushIt Compiler is a web interface for CrushIt.
        
        div
          i(class='icon-tags')   
          span(class='label label-important') Node                    
          span(class='label label-info') Crushit
          span(class='label') Connect       
        
      div.caption
        span.pull-left
          i(class='icon-white icon-globe')       
          a(href='http://crushit-compiler.herokuapp.com/', target='_blank')   Go To
          
        span.pull-right
          i(class='icon-white icon-eye-open')        
          a(href='https://github.com/qawemlilo/crushit-compiler', target='_blank')   Github    
        
  hr 
