div(class='row-fluid', id='contact')
  h1 Request changes for your website
  
  p 
  
  form(class='form-horizontal', action='/tweks', method='post')
    fieldset
      div.control-group
        label(class='control-label', for='name') Website Address
        div.controls
          input(class='input-xxlarge', type='text', id='name', name='name', placeholder='http://')
          
      div.control-group
        label(class='control-label', for='email') Email 
        div.controls
          input(class='input-xxlarge', name='email', type='text', id='email', placeholder='Your email address')
      
      div.control-group
        label(class='control-label', for='message') What do you want changed?
        div.controls
          textarea(class='input-xxlarge', rows='3', id='message', name='message', placeholder='Details of the changes you want made ...')
          
      div.form-actions
        button(type='submit', class='btn btn-large btn-block btn-primary') SUBMIT


   