div(class='row-fluid', id='contact')
  h1 Request Changes
  
  br
  
  p Please fill in the form below and tell us about the changes that you would like us to make on your website.
  
  form(action='/tweaks', method='post')
    p 
      label(class='control-label', for='name') Website Address
      input(class='input-xxlarge', type='text', id='name', name='name', placeholder='http://')
    
    p
      label(class='control-label', for='email') Email
      input(class='input-xxlarge', name='email', type='text', id='email', placeholder='Your email address')
    
    p
      label(class='control-label', for='message') What do you want changed?
      textarea(class='input-xxlarge', rows='10', id='message', name='message', placeholder='Details of the changes you want made ...')
    
    p
      button(type='submit', class='btn btn-large btn-block btn-primary') SUBMIT


   